body{
    margin:0px ;
}
.mainframe{
    
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.ludoboard{

    width: 600px;
    height: 600px;
    border: 0.5px solid black;
    display: grid;
    grid-template-columns: repeat(15,40px);
    grid-template-rows: repeat(15,40px);

}
.red{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7162d;
    border:0.5px solid #9e0616;
    grid-column: 1/7;
    grid-row: 1/7;
}
.redsafe{
    background-color: #f7162d;
    border:0.5px solid #9e0616;
}
.green{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00e34c;
    border:0.5px solid #039634;
    grid-column: 10/16;
    grid-row: 1/7;
}
.greensafe{
    background-color: #00e34c;
    border:0.5px solid #039634;
}
.blue{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #04c3c9;
    border:0.5px solid #027478;
    grid-column: 1/7;
    grid-row: 10/16;
}
.bluesafe{
    background-color: #04c3c9;
    border:0.5px solid #027478;
}
.yellow{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7bb05;
    border:0.5px solid #9c7605;
    grid-column: 10/16;
    grid-row: 10/16;
}
.yellowsafe{
    background-color: #f7bb05;
    border:0.5px solid #9c7605;
}
.step{
    border: 0.5px solid #b3b3b3;
}
.centerbox{
    grid-column: 7/10;
    grid-row: 7/10;
    width: 0px;
    height: 0px;
    border-top: 60px solid #00e34c;
    border-bottom: 60px solid #04c3c9;
    border-left: 60px solid #f7162d;
    border-right: 60px solid #f7bb05;
}
.playerzone{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}
.player{
    border-radius: 50%;
    background-color: white;
    opacity: 0.95;
    width: 50px;
    height: 50px;
}